*{
    margin: 0;
    text-decoration: none;
}
header{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:rgba(255, 221, 0, 0.442);
    height: 5rem;
}
#logo{
    height: 4rem;
}
.banner{
    background-color: #a52a2a;
    height: 15rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
h1{
    
    color: aliceblue;
    background-color:#a52a2a ;
}
.quadrinho{
    height: 15rem;
}
a{
    background-color: rgba(255, 221, 0, 0.442);
    padding: 20px;
    color: black;
    border-radius: 10px;
}
section{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
a:hover{
    background-color: rgba(98, 89, 34, 0.108);
}
main{
    text-align: center;
    margin: 25px;

}
p{
    margin: 50px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}